.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
pytest-cache-files-*/
.ipynb_checkpoints/
.DS_Store
tests_runtime/

data/raw/*
data/processed/*
data/*.zip
data/*.csv
models/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
